*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  margin:0 0;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 15px 65px;
}
.nav-button{
    display: flex;
    list-style: none;
    gap: 24px;
    margin-top: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #575757;
}
.common-button{
    border: none;
    margin-top: 10px;
    background-color: #1D4ED8;
    border-radius: 5px;
    padding: 10px 30px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.nav-buttons{
    margin: 6px 0;
}
.hero-banner{
    background-image: linear-gradient( to right, rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.2)),
url("./images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:507px;
    text-align: center;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-left: 50px;
    box-sizing: border-box;
}  
.hero-banner p{
    color: white;
    width: 600px;
    margin-bottom: 60px;
}
.hero-text{
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: -230px;
    margin-left: 50px;
    font-size: 30px;
}
.hero-banner h1{
    margin:0;
}
.hero-button{
    position: absolute;
    margin-top: 170px;
    margin-left: -100px;
}
main{
    max-width: 100%;
    margin: 40px auto;
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(2,440px);
    justify-content: center;
    gap: 24px;
    margin: 20px 0;
}
.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    
}
.card{
    border: 1px solid rgba(87, 87, 87, 0.2);
    border-radius: 10px;
    text-align: left;
    overflow: hidden;
}
.card h6{
    margin-top: 20px;
    margin-left: 15px;
    color:#2563EB;
}
.card h4{
    margin-top: 8px;
    margin-left: 15px;
    color: #0D1B2A;
}
.card p{
    margin-top: 8px;
    margin-left: 15px;
    margin-bottom: 20px;
    color:#575757;
}
.price-cards{
    margin-top: 100px;
    margin-bottom: 40px;
}
.price-cards h1{
    color:#0D1B2A;
}
.price-cards p{
    color:#575757;
    margin-top: 10px;
}
ul {
    list-style-position: inside;
    text-align: left;
}
.price-card{
    border: 1px solid rgba(87, 87, 87, 0.2);
    border-radius: 10px;
    text-align: left;
    min-height: 300px;
    padding: 40px 40px;
}
.price-ticket{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.price-card h4{
    font-size: 12px;
    font-weight: 600;
    color: #6B7280;
    margin-bottom: 8px;
    
}

.price-card h2{
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.price-card .person{
    font-size: 16px;
    color: #6B7280;
    margin-top: 4px;
    margin-bottom: 24px;
}

.price-card ul{
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    font-size: 14px;
}

.price-card li{
    margin-bottom: 10px;
    text-align: left;
}
.price-buttona{
    border: 1px solid #2563EB;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 70px;
    color: #1D4ED8;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.price-buttonb{
     border: 1px solid #2563EB;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 70px;
    color: white;
    border-radius: 5px;
    background-color: #2563EB;
    cursor: pointer;
}
.price-buttonc{
        border: 1px solid #0D1B2A;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 14px;
    padding: 10px 70px;
    color: #0D1B2A;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
hr{
    border: none;
    border-top: 2px dotted #ccc;
    margin-top: 20px;
}
.secend{
    background-color: #0D1B2A;
}
.secend-p{
    color: #93C5FD;
}
.secend-price{
    color: white;
}
.list{
    color: #999999;
}
.price-card  li::marker {
    color: blue;
}
.news-letter{
    background-color: #FFF5F7;
    display: grid;
    grid-template-columns: 1fr 400px;
    max-width: 1200px;
    width: 100%;
    min-height: 300px;
    margin: 80px auto;     
    padding: 60px;
    box-sizing: border-box;
    align-items: center;
    gap: 100px;
    border-radius: 24px;
}

form input{
    border:none;
    outline: none;
    background-color: white;
    padding: 8px 15px;
    border-radius: 8px;
    display: block;
    margin-bottom: 8px;
    width: 100%;
}
.letter-h{
    font-size: xx-large;
    width: 350px;
    line-height: 1.2;
    margin-left: 120px;
    color: #0D1B2A;
}
.letter-p{
    margin-top: 10px;
}
.letter-hsix{
    color: #1D4ED8;
    font-size: small;
}
.letter-hfour{
    margin: 10px 0;
    color: #1D4ED8;
}
.faq{
    background-color: #1E1E1E;
    gap: 500px;
     max-width: 800px;
    width: 100%;
    min-height: 350px;
    margin: 80px auto;     
    padding: 60px;
    box-sizing: border-box;
    align-items: center;
}
    

summary{
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-size: large;
    font-weight: 600;
    margin-left: 5px;
    border: 1px solid #191A1D;
    border-radius: 5px;
    background-color: #0F1012;
    padding: 10px 10px;
}
summary::-webkit-details-marker {
    display: none;
}
summary::after {
    content: "+";
    font-size: 20px;
}
details[open] summary::after {
    content: "-";
}
.faq-h{
    font-style: italic;
    color: #ffffff;
    margin-bottom: 40px;
}
.faq-details{
    margin: 10px 0;
}
.faq-summary{
    color: #ffffff;
    font-size: large;
    font-weight: 600;
}
.faq-para{
    color: #FFFFF0;
    margin: 10px 0;
}
